<script setup lang="ts">
import type { PropType } from "vue";
const props = defineProps({
  todo: {
    type: Object as PropType<{ id: number; text: string }>,
    required: true,
  },
});
</script>

<!-- or can do this
<script setup lang="ts">
export interface Eatable {
  id: number;
  text: string;
}
import type { PropType } from "vue";
const props = defineProps({
  todo: {
    type: Object as PropType<Eatable>,
    required: true,
  },
});
</script> -->

<template>
  <li>{{ todo.text }}</li>
</template>
