<script setup lang="ts">
// import { RouterLink, RouterView } from "vue-router";
// import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttributeBlidings from "./components/AttributeBlidings.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponents from "./components/SimpleComponents.vue";
</script>

<template>
  <div>
    <br /><br />
    <SimpleComponents /><br /><br />
    <FormBindings /><br /><br />
    <ConditionsAndLoops /><br /><br />
    <AttributeBlidings />
    <HandlingUserInput />
    <CalComponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
